--
-- PostgreSQL database dump
--

\restrict bSHTYNhl5u97H7MikjwTRYsOSlQ0lhzMVUOgb6PKeXEzYfpSsyGuIyRkJ5LhVac

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: application_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.application_status_enum AS ENUM (
    'submitted',
    'reviewing',
    'shortlisted',
    'interview',
    'accepted',
    'rejected'
);


ALTER TYPE public.application_status_enum OWNER TO postgres;

--
-- Name: event_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.event_type_enum AS ENUM (
    'camp',
    'workshop',
    'hackathon',
    'conference',
    'formation'
);


ALTER TYPE public.event_type_enum OWNER TO postgres;

--
-- Name: job_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.job_status_enum AS ENUM (
    'draft',
    'published',
    'closed',
    'expired'
);


ALTER TYPE public.job_status_enum OWNER TO postgres;

--
-- Name: job_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.job_type_enum AS ENUM (
    'cdi',
    'cdd',
    'stage',
    'freelance',
    'benevolat'
);


ALTER TYPE public.job_type_enum OWNER TO postgres;

--
-- Name: membership_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.membership_status_enum AS ENUM (
    'pending',
    'active',
    'expired',
    'suspended'
);


ALTER TYPE public.membership_status_enum OWNER TO postgres;

--
-- Name: membership_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.membership_type_enum AS ENUM (
    'standard',
    'premium',
    'honorary',
    'student'
);


ALTER TYPE public.membership_type_enum OWNER TO postgres;

--
-- Name: partner_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.partner_type_enum AS ENUM (
    'entreprise',
    'ong',
    'ambassade',
    'institution'
);


ALTER TYPE public.partner_type_enum OWNER TO postgres;

--
-- Name: post_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.post_type_enum AS ENUM (
    'actualite',
    'temoignage',
    'rapport',
    'evenement'
);


ALTER TYPE public.post_type_enum OWNER TO postgres;

--
-- Name: registration_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.registration_status_enum AS ENUM (
    'pending',
    'confirmed',
    'cancelled',
    'waiting'
);


ALTER TYPE public.registration_status_enum OWNER TO postgres;

--
-- Name: report_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.report_type_enum AS ENUM (
    'activity',
    'financial',
    'impact'
);


ALTER TYPE public.report_type_enum OWNER TO postgres;

--
-- Name: user_role_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role_enum AS ENUM (
    'super_admin',
    'admin',
    'staff',
    'member',
    'volunteer',
    'partner',
    'visitor'
);


ALTER TYPE public.user_role_enum OWNER TO postgres;

--
-- Name: users_role_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.users_role_enum AS ENUM (
    'super_admin',
    'admin',
    'staff',
    'member',
    'volunteer',
    'partner',
    'visitor'
);


ALTER TYPE public.users_role_enum OWNER TO postgres;

--
-- Name: log_changes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_changes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  INSERT INTO audit_logs (id, user_id, action, entity_type, entity_id, old_data, new_data, created_at)
  VALUES (
    gen_random_uuid(),
    current_setting('app.current_user_id', TRUE)::UUID,
    TG_OP,
    TG_TABLE_NAME,
    NEW.id,
    row_to_json(OLD),
    row_to_json(NEW),
    NOW()
  );
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.log_changes() OWNER TO postgres;

--
-- Name: prevent_audit_delete(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.prevent_audit_delete() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  RAISE EXCEPTION 'ÔØî SUPPRESSION INTERDITE : Les logs d''audit sont immuables pour des raisons de conformit├® l├®gale (loi 2014-038).';
END;
$$;


ALTER FUNCTION public.prevent_audit_delete() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    action character varying(100) NOT NULL,
    entity_type character varying(50),
    entity_id uuid,
    old_data jsonb,
    new_data jsonb,
    ip_address inet,
    user_agent text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: backgrounds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.backgrounds (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    url character varying(500) NOT NULL,
    page character varying(50) NOT NULL,
    uploaded_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.backgrounds OWNER TO postgres;

--
-- Name: beneficiaries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.beneficiaries (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    first_name character varying(100),
    last_name character varying(100),
    age integer,
    region character varying(100),
    fokontany character varying(100),
    education_level character varying(100),
    employment_status character varying(50),
    before_ymad text,
    after_ymad text,
    sector character varying(100),
    testimonial text,
    testimonial_mg text,
    is_published boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    full_name character varying(255),
    phone character varying(50),
    photo_url text,
    has_testimonial boolean DEFAULT false
);


ALTER TABLE public.beneficiaries OWNER TO postgres;

--
-- Name: blog_posts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.blog_posts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    title_mg character varying(255) NOT NULL,
    content text NOT NULL,
    content_mg text NOT NULL,
    summary text NOT NULL,
    summary_mg text NOT NULL,
    author character varying(255) NOT NULL,
    author_id uuid,
    image_url character varying(500),
    type character varying(50) NOT NULL,
    status character varying(50) DEFAULT 'draft'::character varying,
    tags text[],
    views integer DEFAULT 0,
    published_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    slug character varying(255)
);


ALTER TABLE public.blog_posts OWNER TO postgres;

--
-- Name: contact_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contact_info (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    address character varying(255) NOT NULL,
    address_mg character varying(255),
    phone character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    facebook character varying(255),
    twitter character varying(255),
    instagram character varying(255),
    linkedin character varying(255),
    whatsapp character varying(255),
    map_url character varying(500),
    hours_fr character varying(100),
    hours_mg character varying(100),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.contact_info OWNER TO postgres;

--
-- Name: contact_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contact_messages (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(50),
    subject character varying(255),
    message text NOT NULL,
    status character varying(50) DEFAULT 'new'::character varying,
    replied_by_id uuid,
    replied_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.contact_messages OWNER TO postgres;

--
-- Name: contacts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contacts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    full_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(50),
    subject character varying(255),
    message text NOT NULL,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.contacts OWNER TO postgres;

--
-- Name: donations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.donations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    amount numeric(15,2) NOT NULL,
    currency character varying(10) DEFAULT 'MGA'::character varying,
    payment_provider character varying(50) NOT NULL,
    phone_number character varying(20),
    transaction_id character varying(255),
    mvola_transaction_id character varying(255),
    orange_transaction_id character varying(255),
    status character varying(50) DEFAULT 'pending'::character varying,
    user_id uuid,
    project_id uuid,
    donor_name character varying(255),
    donor_email character varying(255),
    donor_phone character varying(50),
    message text,
    is_anonymous boolean DEFAULT false,
    is_recurring boolean DEFAULT false,
    recurring_interval character varying(50),
    receipt_url text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.donations OWNER TO postgres;

--
-- Name: event_registrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_registrations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "eventId" uuid,
    "userId" uuid,
    status character varying(50) DEFAULT 'confirmed'::character varying,
    "qrCode" text,
    "ticketNumber" character varying(100),
    "registeredAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.event_registrations OWNER TO postgres;

--
-- Name: events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    title_mg character varying(255),
    description text NOT NULL,
    description_mg text,
    type character varying(50) NOT NULL,
    status character varying(50) DEFAULT 'published'::character varying,
    location character varying(255),
    region character varying(100),
    "startDate" timestamp without time zone NOT NULL,
    "endDate" timestamp without time zone NOT NULL,
    "maxCapacity" integer,
    "currentRegistrations" integer DEFAULT 0,
    "isFree" boolean DEFAULT true,
    price numeric(10,2) DEFAULT 0,
    "imageUrl" character varying(255),
    "galleryImages" text[],
    program text,
    speakers text,
    "createdBy" uuid,
    "createdAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    image_url text,
    gallery_images text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.events OWNER TO postgres;

--
-- Name: footer_contact; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.footer_contact (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    type character varying(50) NOT NULL,
    value character varying(500) NOT NULL,
    icon character varying(100) NOT NULL,
    order_num integer DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.footer_contact OWNER TO postgres;

--
-- Name: footer_legal_links; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.footer_legal_links (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    url character varying(500) NOT NULL,
    order_num integer DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.footer_legal_links OWNER TO postgres;

--
-- Name: footer_links; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.footer_links (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    title_mg character varying(255),
    url character varying(500) NOT NULL,
    order_num integer DEFAULT 0,
    is_active boolean DEFAULT true,
    section_id uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.footer_links OWNER TO postgres;

--
-- Name: footer_sections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.footer_sections (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    title_mg character varying(255),
    order_num integer DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.footer_sections OWNER TO postgres;

--
-- Name: job_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_applications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_offer_id uuid,
    user_id uuid,
    full_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    address text,
    phone character varying(50),
    experience text,
    cover_letter text,
    cv_url character varying(500),
    diploma_url character varying(500),
    photo_url character varying(500),
    status character varying(50) DEFAULT 'submitted'::character varying,
    applied_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT now(),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.job_applications OWNER TO postgres;

--
-- Name: job_offers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_offers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    title_mg character varying(255),
    description text NOT NULL,
    description_mg text,
    company_name character varying(255) NOT NULL,
    location character varying(255),
    region character varying(100),
    job_type character varying(50) NOT NULL,
    salary character varying(100),
    sector character varying(100),
    deadline date,
    status character varying(50) DEFAULT 'draft'::character varying,
    applications_count integer DEFAULT 0,
    is_featured boolean DEFAULT false,
    created_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    requirements text,
    contact_email character varying(255),
    contact_phone character varying(50)
);


ALTER TABLE public.job_offers OWNER TO postgres;

--
-- Name: media; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.media (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    filename character varying(255) NOT NULL,
    original_name character varying(255),
    url text NOT NULL,
    type character varying(50),
    size integer,
    mime_type character varying(100),
    entity_type character varying(50),
    entity_id uuid,
    uploaded_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.media OWNER TO postgres;

--
-- Name: members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.members (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "memberNumber" character varying(50) NOT NULL,
    "userId" uuid NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying,
    "membershipType" character varying(50) NOT NULL,
    "startDate" date NOT NULL,
    "expiryDate" date NOT NULL,
    "amountPaid" numeric(10,2) DEFAULT 0,
    "paymentMethod" character varying(50),
    "transactionId" character varying(255),
    "cardUrl" text,
    "qrCode" text,
    "qrCodeData" text,
    "createdAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.members OWNER TO postgres;

--
-- Name: newsletter_subscribers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.newsletter_subscribers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(255),
    is_active boolean DEFAULT true,
    subscribed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.newsletter_subscribers OWNER TO postgres;

--
-- Name: page_backgrounds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.page_backgrounds (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    page character varying(50) NOT NULL,
    image_url text NOT NULL,
    mobile_url text,
    thumbnail_url text,
    is_active boolean DEFAULT false,
    overlay_opacity integer DEFAULT 30,
    "position" character varying(50) DEFAULT 'center'::character varying,
    size character varying(50) DEFAULT 'cover'::character varying,
    alt_text text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.page_backgrounds OWNER TO postgres;

--
-- Name: page_contents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.page_contents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    page character varying(50) NOT NULL,
    hero jsonb,
    sections jsonb,
    stats jsonb,
    cta jsonb,
    seo_title text,
    seo_description text,
    seo_keywords text,
    is_published boolean DEFAULT true,
    custom_fields jsonb,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.page_contents OWNER TO postgres;

--
-- Name: partners; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.partners (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    logo_url text,
    website character varying(255),
    description text,
    description_mg text,
    partner_type public.partner_type_enum,
    is_featured boolean DEFAULT false,
    contract_url text,
    contribution_amount numeric(15,2),
    contact_email character varying(255),
    contact_phone character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.partners OWNER TO postgres;

--
-- Name: project_beneficiaries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_beneficiaries (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    project_id uuid,
    beneficiary_id uuid,
    enrolled_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.project_beneficiaries OWNER TO postgres;

--
-- Name: project_volunteers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_volunteers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    project_id uuid,
    volunteer_id uuid,
    role character varying(100),
    hours_assigned integer DEFAULT 0,
    assigned_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.project_volunteers OWNER TO postgres;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    description text NOT NULL,
    description_mg text,
    budget numeric(15,2) DEFAULT '0'::numeric NOT NULL,
    start_date date,
    end_date date,
    gallery_images text[],
    youth_impact integer DEFAULT 0 NOT NULL,
    jobs_created integer DEFAULT 0 NOT NULL,
    is_featured boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    beneficiaries_count integer DEFAULT 0 NOT NULL,
    image_url character varying,
    manager_id character varying,
    title character varying NOT NULL,
    title_mg character varying,
    location character varying,
    category character varying,
    region character varying,
    status character varying DEFAULT 'active'::character varying NOT NULL,
    progress integer DEFAULT 0 NOT NULL,
    spent numeric(15,2) DEFAULT 0
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(255) NOT NULL,
    report_type public.report_type_enum,
    period_start date,
    period_end date,
    data jsonb,
    pdf_url text,
    generated_by uuid,
    is_public boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.reports OWNER TO postgres;

--
-- Name: settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    key character varying(255) NOT NULL,
    value text,
    type character varying(50),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.settings OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "lastLogin" timestamp without time zone,
    "resetPasswordExpires" timestamp without time zone,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    phone character varying,
    photo character varying,
    bio character varying,
    region character varying,
    "resetPasswordToken" character varying,
    role character varying DEFAULT 'visitor'::character varying NOT NULL,
    is_active boolean DEFAULT true,
    last_login timestamp without time zone,
    language character varying(10) DEFAULT 'fr'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    status character varying(50) DEFAULT 'active'::character varying,
    last_ip character varying(45),
    login_attempts integer DEFAULT 0,
    locked_until timestamp without time zone,
    email_verified boolean DEFAULT false,
    verification_token character varying(255),
    reset_password_token character varying(255),
    reset_password_expires timestamp without time zone,
    email_verified_at timestamp without time zone,
    created_by uuid,
    two_factor_enabled boolean DEFAULT false,
    two_factor_secret character varying(255),
    avatar_url text,
    "position" character varying(100),
    department character varying(100),
    skills text,
    social_linkedin text,
    social_twitter text,
    social_github text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: volunteers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.volunteers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    skills text[],
    availability character varying(50),
    preferences text,
    hours_worked integer DEFAULT 0,
    status character varying(50) DEFAULT 'pending'::character varying,
    certificate_url text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.volunteers OWNER TO postgres;

--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: backgrounds backgrounds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backgrounds
    ADD CONSTRAINT backgrounds_pkey PRIMARY KEY (id);


--
-- Name: beneficiaries beneficiaries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.beneficiaries
    ADD CONSTRAINT beneficiaries_pkey PRIMARY KEY (id);


--
-- Name: blog_posts blog_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blog_posts
    ADD CONSTRAINT blog_posts_pkey PRIMARY KEY (id);


--
-- Name: blog_posts blog_posts_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blog_posts
    ADD CONSTRAINT blog_posts_slug_key UNIQUE (slug);


--
-- Name: contact_info contact_info_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_info
    ADD CONSTRAINT contact_info_pkey PRIMARY KEY (id);


--
-- Name: contact_messages contact_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_messages
    ADD CONSTRAINT contact_messages_pkey PRIMARY KEY (id);


--
-- Name: contacts contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_pkey PRIMARY KEY (id);


--
-- Name: donations donations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.donations
    ADD CONSTRAINT donations_pkey PRIMARY KEY (id);


--
-- Name: event_registrations event_registrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_registrations
    ADD CONSTRAINT event_registrations_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: footer_contact footer_contact_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.footer_contact
    ADD CONSTRAINT footer_contact_pkey PRIMARY KEY (id);


--
-- Name: footer_legal_links footer_legal_links_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.footer_legal_links
    ADD CONSTRAINT footer_legal_links_pkey PRIMARY KEY (id);


--
-- Name: footer_links footer_links_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.footer_links
    ADD CONSTRAINT footer_links_pkey PRIMARY KEY (id);


--
-- Name: footer_sections footer_sections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.footer_sections
    ADD CONSTRAINT footer_sections_pkey PRIMARY KEY (id);


--
-- Name: job_applications job_applications_job_offer_id_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_job_offer_id_email_key UNIQUE (job_offer_id, email);


--
-- Name: job_applications job_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_pkey PRIMARY KEY (id);


--
-- Name: job_offers job_offers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_offers
    ADD CONSTRAINT job_offers_pkey PRIMARY KEY (id);


--
-- Name: media media_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT media_pkey PRIMARY KEY (id);


--
-- Name: members members_memberNumber_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT "members_memberNumber_key" UNIQUE ("memberNumber");


--
-- Name: members members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT members_pkey PRIMARY KEY (id);


--
-- Name: newsletter_subscribers newsletter_subscribers_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_subscribers
    ADD CONSTRAINT newsletter_subscribers_email_key UNIQUE (email);


--
-- Name: newsletter_subscribers newsletter_subscribers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_subscribers
    ADD CONSTRAINT newsletter_subscribers_pkey PRIMARY KEY (id);


--
-- Name: page_backgrounds page_backgrounds_page_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_backgrounds
    ADD CONSTRAINT page_backgrounds_page_key UNIQUE (page);


--
-- Name: page_backgrounds page_backgrounds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_backgrounds
    ADD CONSTRAINT page_backgrounds_pkey PRIMARY KEY (id);


--
-- Name: page_contents page_contents_page_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_contents
    ADD CONSTRAINT page_contents_page_key UNIQUE (page);


--
-- Name: page_contents page_contents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_contents
    ADD CONSTRAINT page_contents_pkey PRIMARY KEY (id);


--
-- Name: partners partners_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.partners
    ADD CONSTRAINT partners_pkey PRIMARY KEY (id);


--
-- Name: project_beneficiaries project_beneficiaries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_beneficiaries
    ADD CONSTRAINT project_beneficiaries_pkey PRIMARY KEY (id);


--
-- Name: project_beneficiaries project_beneficiaries_project_id_beneficiary_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_beneficiaries
    ADD CONSTRAINT project_beneficiaries_project_id_beneficiary_id_key UNIQUE (project_id, beneficiary_id);


--
-- Name: project_volunteers project_volunteers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_volunteers
    ADD CONSTRAINT project_volunteers_pkey PRIMARY KEY (id);


--
-- Name: project_volunteers project_volunteers_project_id_volunteer_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_volunteers
    ADD CONSTRAINT project_volunteers_project_id_volunteer_id_key UNIQUE (project_id, volunteer_id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: settings settings_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_key_key UNIQUE (key);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: volunteers volunteers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.volunteers
    ADD CONSTRAINT volunteers_pkey PRIMARY KEY (id);


--
-- Name: idx_audit_logs_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_logs_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_created_at ON public.audit_logs USING btree (created_at);


--
-- Name: idx_audit_logs_entity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_entity ON public.audit_logs USING btree (entity_type, entity_id);


--
-- Name: idx_audit_logs_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_user_id ON public.audit_logs USING btree (user_id);


--
-- Name: idx_backgrounds_page; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_backgrounds_page ON public.backgrounds USING btree (page);


--
-- Name: idx_beneficiaries_age; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_beneficiaries_age ON public.beneficiaries USING btree (age);


--
-- Name: idx_beneficiaries_region; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_beneficiaries_region ON public.beneficiaries USING btree (region);


--
-- Name: idx_blog_posts_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_blog_posts_slug ON public.blog_posts USING btree (slug);


--
-- Name: idx_contact_messages_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_contact_messages_status ON public.contact_messages USING btree (status);


--
-- Name: idx_project_beneficiaries_beneficiary; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_project_beneficiaries_beneficiary ON public.project_beneficiaries USING btree (beneficiary_id);


--
-- Name: idx_project_beneficiaries_project; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_project_beneficiaries_project ON public.project_beneficiaries USING btree (project_id);


--
-- Name: audit_logs no_delete_audit; Type: RULE; Schema: public; Owner: postgres
--

CREATE RULE no_delete_audit AS
    ON DELETE TO public.audit_logs DO INSTEAD NOTHING;


--
-- Name: audit_logs prevent_audit_delete; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER prevent_audit_delete BEFORE DELETE ON public.audit_logs FOR EACH STATEMENT EXECUTE FUNCTION public.prevent_audit_delete();


--
-- Name: backgrounds backgrounds_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backgrounds
    ADD CONSTRAINT backgrounds_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: event_registrations event_registrations_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_registrations
    ADD CONSTRAINT "event_registrations_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public.events(id) ON DELETE CASCADE;


--
-- Name: event_registrations event_registrations_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_registrations
    ADD CONSTRAINT "event_registrations_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: members fk_members_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT fk_members_user FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: footer_links footer_links_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.footer_links
    ADD CONSTRAINT footer_links_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.footer_sections(id) ON DELETE CASCADE;


--
-- Name: job_applications job_applications_job_offer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_job_offer_id_fkey FOREIGN KEY (job_offer_id) REFERENCES public.job_offers(id) ON DELETE CASCADE;


--
-- Name: project_beneficiaries project_beneficiaries_beneficiary_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_beneficiaries
    ADD CONSTRAINT project_beneficiaries_beneficiary_id_fkey FOREIGN KEY (beneficiary_id) REFERENCES public.beneficiaries(id) ON DELETE CASCADE;


--
-- Name: project_beneficiaries project_beneficiaries_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_beneficiaries
    ADD CONSTRAINT project_beneficiaries_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_volunteers project_volunteers_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_volunteers
    ADD CONSTRAINT project_volunteers_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_volunteers project_volunteers_volunteer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_volunteers
    ADD CONSTRAINT project_volunteers_volunteer_id_fkey FOREIGN KEY (volunteer_id) REFERENCES public.volunteers(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict bSHTYNhl5u97H7MikjwTRYsOSlQ0lhzMVUOgb6PKeXEzYfpSsyGuIyRkJ5LhVac

