--
-- PostgreSQL database dump
--

\restrict K5ab9ZsHADFPBa3kS7HpTia2UaN6Ji2l3WlNoPYnLRhVw5dmcnc5jloXmiy6kJ7

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: application_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.application_status_enum AS ENUM (
    'submitted',
    'reviewing',
    'shortlisted',
    'interview',
    'accepted',
    'rejected'
);


ALTER TYPE public.application_status_enum OWNER TO postgres;

--
-- Name: approval_workflow_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.approval_workflow_status_enum AS ENUM (
    'pending',
    'approved',
    'rejected',
    'revision_needed'
);


ALTER TYPE public.approval_workflow_status_enum OWNER TO postgres;

--
-- Name: approval_workflow_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.approval_workflow_type_enum AS ENUM (
    'project',
    'report',
    'expense',
    'volunteer',
    'beneficiary',
    'donation'
);


ALTER TYPE public.approval_workflow_type_enum OWNER TO postgres;

--
-- Name: event_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.event_type_enum AS ENUM (
    'camp',
    'workshop',
    'hackathon',
    'conference',
    'formation'
);


ALTER TYPE public.event_type_enum OWNER TO postgres;

--
-- Name: expense_category_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.expense_category_enum AS ENUM (
    'salaries',
    'operations',
    'supplies',
    'travel',
    'utilities',
    'marketing',
    'training',
    'equipment',
    'other'
);


ALTER TYPE public.expense_category_enum OWNER TO postgres;

--
-- Name: expense_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.expense_status_enum AS ENUM (
    'pending',
    'approved',
    'rejected',
    'paid'
);


ALTER TYPE public.expense_status_enum OWNER TO postgres;

--
-- Name: financial_report_period_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.financial_report_period_enum AS ENUM (
    'monthly',
    'quarterly',
    'semi_annual',
    'annual'
);


ALTER TYPE public.financial_report_period_enum OWNER TO postgres;

--
-- Name: financial_report_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.financial_report_status_enum AS ENUM (
    'draft',
    'submitted',
    'approved',
    'rejected',
    'published'
);


ALTER TYPE public.financial_report_status_enum OWNER TO postgres;

--
-- Name: impact_metric_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.impact_metric_enum AS ENUM (
    'beneficiaries_reached',
    'youth_empowered',
    'jobs_created',
    'women_empowered',
    'education_hours',
    'income_generated',
    'communities_reached',
    'volunteer_hours'
);


ALTER TYPE public.impact_metric_enum OWNER TO postgres;

--
-- Name: job_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.job_status_enum AS ENUM (
    'draft',
    'published',
    'closed',
    'expired'
);


ALTER TYPE public.job_status_enum OWNER TO postgres;

--
-- Name: job_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.job_type_enum AS ENUM (
    'cdi',
    'cdd',
    'stage',
    'freelance',
    'benevolat'
);


ALTER TYPE public.job_type_enum OWNER TO postgres;

--
-- Name: membership_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.membership_status_enum AS ENUM (
    'pending',
    'active',
    'expired',
    'suspended'
);


ALTER TYPE public.membership_status_enum OWNER TO postgres;

--
-- Name: membership_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.membership_type_enum AS ENUM (
    'standard',
    'premium',
    'honorary',
    'student'
);


ALTER TYPE public.membership_type_enum OWNER TO postgres;

--
-- Name: notification_channel_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notification_channel_enum AS ENUM (
    'email',
    'sms',
    'in_app',
    'push'
);


ALTER TYPE public.notification_channel_enum OWNER TO postgres;

--
-- Name: notification_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notification_type_enum AS ENUM (
    'donation_received',
    'project_update',
    'event_reminder',
    'volunteer_approved',
    'expense_approved',
    'report_submitted',
    'user_registered',
    'system_alert',
    'other'
);


ALTER TYPE public.notification_type_enum OWNER TO postgres;

--
-- Name: partner_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.partner_type_enum AS ENUM (
    'entreprise',
    'ong',
    'ambassade',
    'institution'
);


ALTER TYPE public.partner_type_enum OWNER TO postgres;

--
-- Name: post_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.post_type_enum AS ENUM (
    'actualite',
    'temoignage',
    'rapport',
    'evenement'
);


ALTER TYPE public.post_type_enum OWNER TO postgres;

--
-- Name: registration_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.registration_status_enum AS ENUM (
    'pending',
    'confirmed',
    'cancelled',
    'waiting'
);


ALTER TYPE public.registration_status_enum OWNER TO postgres;

--
-- Name: report_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.report_type_enum AS ENUM (
    'activity',
    'financial',
    'impact'
);


ALTER TYPE public.report_type_enum OWNER TO postgres;

--
-- Name: resource_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.resource_status_enum AS ENUM (
    'available',
    'in_use',
    'maintenance',
    'retired'
);


ALTER TYPE public.resource_status_enum OWNER TO postgres;

--
-- Name: resource_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.resource_type_enum AS ENUM (
    'vehicle',
    'equipment',
    'facility',
    'material',
    'software',
    'other'
);


ALTER TYPE public.resource_type_enum OWNER TO postgres;

--
-- Name: user_role_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role_enum AS ENUM (
    'super_admin',
    'admin',
    'staff',
    'member',
    'volunteer',
    'partner',
    'visitor'
);


ALTER TYPE public.user_role_enum OWNER TO postgres;

--
-- Name: users_role_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.users_role_enum AS ENUM (
    'super_admin',
    'admin',
    'staff',
    'member',
    'volunteer',
    'partner',
    'visitor'
);


ALTER TYPE public.users_role_enum OWNER TO postgres;

--
-- Name: log_changes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_changes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  INSERT INTO audit_logs (id, user_id, action, entity_type, entity_id, old_data, new_data, created_at)
  VALUES (
    gen_random_uuid(),
    current_setting('app.current_user_id', TRUE)::UUID,
    TG_OP,
    TG_TABLE_NAME,
    NEW.id,
    row_to_json(OLD),
    row_to_json(NEW),
    NOW()
  );
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.log_changes() OWNER TO postgres;

--
-- Name: prevent_audit_delete(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.prevent_audit_delete() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  RAISE EXCEPTION 'ÔØî SUPPRESSION INTERDITE : Les logs d''audit sont immuables pour des raisons de conformit├® l├®gale (loi 2014-038).';
END;
$$;


ALTER FUNCTION public.prevent_audit_delete() OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.updated_at = CURRENT_TIMESTAMP;
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: blog_posts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.blog_posts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title_mg character varying(255),
    content_mg text,
    author character varying(255) NOT NULL,
    author_id uuid,
    image_url character varying(500),
    status character varying(50) DEFAULT 'draft'::character varying,
    published_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    slug character varying(255),
    title_fr character varying,
    content_fr text,
    is_published boolean DEFAULT false,
    summary_fr text,
    summary_mg text,
    category_id uuid,
    type character varying(50) DEFAULT 'news'::character varying,
    tags text[],
    views integer DEFAULT 0,
    cover_image character varying(500)
);


ALTER TABLE public.blog_posts OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name_fr character varying(100) NOT NULL,
    name_mg character varying(100),
    slug character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: contact_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contact_messages (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(50),
    subject character varying(255),
    message text NOT NULL,
    status character varying(50) DEFAULT 'unread'::character varying,
    replied_by_id uuid,
    replied_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    ip_address character varying(45),
    admin_notes text,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.contact_messages OWNER TO postgres;

--
-- Name: contacts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contacts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    message text NOT NULL,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.contacts OWNER TO postgres;

--
-- Name: image_count; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.image_count (
    count bigint
);


ALTER TABLE public.image_count OWNER TO postgres;

--
-- Name: images_metadata; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.images_metadata (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    original_id uuid,
    entity_type character varying(50),
    entity_id uuid,
    file_path character varying(500),
    thumbnail_path character varying(500),
    original_name character varying(255),
    file_size integer,
    mime_type character varying(100),
    width integer,
    height integer,
    is_main boolean DEFAULT false,
    display_order integer DEFAULT 0,
    alt_text_fr text,
    alt_text_mg text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    migration_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.images_metadata OWNER TO postgres;

--
-- Name: job_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_applications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_offer_id uuid,
    user_id uuid,
    full_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    address text,
    phone character varying(50),
    experience text,
    cover_letter text,
    cv_url character varying(500),
    diploma_url character varying(500),
    photo_url character varying(500),
    status character varying(50) DEFAULT 'pending'::character varying,
    applied_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT now(),
    created_at timestamp without time zone DEFAULT now(),
    experience_years integer,
    attestation_url character varying(500),
    notes text,
    reviewed_by uuid,
    reviewed_at timestamp without time zone,
    cover_letter_url character varying(500),
    current_position character varying(100),
    current_company character varying(100),
    linkedin_url character varying(500),
    portfolio_url character varying(500)
);


ALTER TABLE public.job_applications OWNER TO postgres;

--
-- Name: job_offers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_offers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title_mg character varying(255),
    description_mg text,
    location character varying(255),
    deadline date,
    status character varying(50) DEFAULT 'draft'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    image_url character varying(500),
    title_fr character varying NOT NULL,
    description_fr text NOT NULL,
    is_published boolean DEFAULT false,
    contract_type character varying DEFAULT 'CDI'::character varying,
    company character varying,
    views_count integer DEFAULT 0,
    applications_count integer DEFAULT 0,
    main_image_id uuid
);


ALTER TABLE public.job_offers OWNER TO postgres;

--
-- Name: COLUMN job_offers.main_image_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.job_offers.main_image_id IS 'ID de l image principale stockee dans database_images';


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.migrations OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: page_backgrounds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.page_backgrounds (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    page_key character varying(50) NOT NULL,
    image_url text NOT NULL,
    alt_fr text,
    alt_mg text,
    is_active boolean DEFAULT true,
    overlay_opacity integer DEFAULT 35,
    "position" character varying(50) DEFAULT 'center'::character varying,
    size character varying(50) DEFAULT 'cover'::character varying,
    blur integer DEFAULT 0,
    brightness integer DEFAULT 100,
    updated_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.page_backgrounds OWNER TO postgres;

--
-- Name: page_contents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.page_contents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    page character varying(50),
    hero jsonb,
    sections jsonb,
    stats jsonb,
    cta jsonb,
    seo_title text,
    seo_description text,
    seo_keywords text,
    is_published boolean DEFAULT true,
    custom_fields jsonb,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    page_key character varying(100),
    content_fr text,
    content_mg text,
    seo_title_fr character varying(70),
    seo_title_mg character varying(70),
    seo_description_fr character varying(160),
    seo_description_mg character varying(160),
    updated_by uuid
);


ALTER TABLE public.page_contents OWNER TO postgres;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    description_mg text,
    start_date date,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    image_url character varying,
    title_mg character varying,
    status character varying DEFAULT 'active'::character varying NOT NULL,
    title_fr character varying NOT NULL,
    description_fr text,
    end_date date,
    is_featured boolean DEFAULT false,
    location character varying(255),
    region character varying(100),
    budget integer DEFAULT 0,
    spent integer DEFAULT 0,
    beneficiaries_count integer DEFAULT 0,
    youth_impact integer DEFAULT 0,
    jobs_created integer DEFAULT 0,
    progress integer DEFAULT 0
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    key character varying(255) NOT NULL,
    value text,
    type character varying(50),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.settings OWNER TO postgres;

--
-- Name: translations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.translations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    key character varying(255) NOT NULL,
    value_fr text NOT NULL,
    value_mg text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.translations OWNER TO postgres;

--
-- Name: uploaded_files; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.uploaded_files (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    url character varying(500) NOT NULL,
    public_id character varying(255),
    filename character varying(255) NOT NULL,
    original_name character varying(255) NOT NULL,
    format character varying(50),
    size integer,
    width integer,
    height integer,
    type character varying(50) NOT NULL,
    entity_id character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    file_data bytea,
    file_path character varying(500)
);


ALTER TABLE public.uploaded_files OWNER TO postgres;

--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_sessions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    refresh_token text NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    ip_address character varying(45),
    user_agent text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_sessions OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    role character varying DEFAULT 'visitor'::character varying NOT NULL,
    is_active boolean DEFAULT true,
    last_login timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    reset_token character varying(255),
    reset_token_expires timestamp without time zone,
    phone character varying(50),
    avatar_url character varying(255),
    must_change_password boolean DEFAULT false,
    canpostulates boolean,
    canaccessdashboard boolean,
    preferred_language character varying(10) DEFAULT 'fr'::character varying,
    timezone character varying(50) DEFAULT 'Indian/Antananarivo'::character varying,
    theme character varying(20) DEFAULT 'light'::character varying,
    font_size character varying(20) DEFAULT 'medium'::character varying,
    sidebar_collapsed boolean DEFAULT false,
    animations_enabled boolean DEFAULT true,
    density character varying(20) DEFAULT 'comfortable'::character varying,
    email_notifications boolean DEFAULT true,
    push_notifications boolean DEFAULT true,
    job_alerts boolean DEFAULT true,
    project_updates boolean DEFAULT true,
    blog_updates boolean DEFAULT false,
    system_updates boolean DEFAULT true
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: migrations PK_8c82d7f526340ab734260ea46be; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT "PK_8c82d7f526340ab734260ea46be" PRIMARY KEY (id);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: blog_posts blog_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blog_posts
    ADD CONSTRAINT blog_posts_pkey PRIMARY KEY (id);


--
-- Name: blog_posts blog_posts_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.blog_posts
    ADD CONSTRAINT blog_posts_slug_key UNIQUE (slug);


--
-- Name: categories categories_name_fr_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_fr_key UNIQUE (name_fr);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: categories categories_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_slug_key UNIQUE (slug);


--
-- Name: contact_messages contact_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_messages
    ADD CONSTRAINT contact_messages_pkey PRIMARY KEY (id);


--
-- Name: contacts contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_pkey PRIMARY KEY (id);


--
-- Name: images_metadata images_metadata_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.images_metadata
    ADD CONSTRAINT images_metadata_pkey PRIMARY KEY (id);


--
-- Name: job_applications job_applications_job_offer_id_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_job_offer_id_email_key UNIQUE (job_offer_id, email);


--
-- Name: job_applications job_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_pkey PRIMARY KEY (id);


--
-- Name: job_offers job_offers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_offers
    ADD CONSTRAINT job_offers_pkey PRIMARY KEY (id);


--
-- Name: page_backgrounds page_backgrounds_page_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_backgrounds
    ADD CONSTRAINT page_backgrounds_page_key_key UNIQUE (page_key);


--
-- Name: page_backgrounds page_backgrounds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_backgrounds
    ADD CONSTRAINT page_backgrounds_pkey PRIMARY KEY (id);


--
-- Name: page_contents page_contents_page_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_contents
    ADD CONSTRAINT page_contents_page_key UNIQUE (page);


--
-- Name: page_contents page_contents_page_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_contents
    ADD CONSTRAINT page_contents_page_key_key UNIQUE (page_key);


--
-- Name: page_contents page_contents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_contents
    ADD CONSTRAINT page_contents_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: settings settings_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_key_key UNIQUE (key);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (id);


--
-- Name: translations translations_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.translations
    ADD CONSTRAINT translations_key_key UNIQUE (key);


--
-- Name: translations translations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.translations
    ADD CONSTRAINT translations_pkey PRIMARY KEY (id);


--
-- Name: uploaded_files uploaded_files_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.uploaded_files
    ADD CONSTRAINT uploaded_files_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_applications_applied_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_applications_applied_at ON public.job_applications USING btree (applied_at DESC);


--
-- Name: idx_applications_created_at_desc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_applications_created_at_desc ON public.job_applications USING btree (created_at DESC);


--
-- Name: idx_applications_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_applications_email ON public.job_applications USING btree (email);


--
-- Name: idx_applications_job_offer_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_applications_job_offer_status ON public.job_applications USING btree (job_offer_id, status);


--
-- Name: idx_applications_offer_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_applications_offer_id ON public.job_applications USING btree (job_offer_id);


--
-- Name: idx_applications_status_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_applications_status_created ON public.job_applications USING btree (status, created_at DESC);


--
-- Name: idx_blog_posts_category_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_blog_posts_category_id ON public.blog_posts USING btree (category_id);


--
-- Name: idx_blog_posts_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_blog_posts_slug ON public.blog_posts USING btree (slug);


--
-- Name: idx_categories_name_fr; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_categories_name_fr ON public.categories USING btree (name_fr);


--
-- Name: idx_categories_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_categories_slug ON public.categories USING btree (slug);


--
-- Name: idx_contact_messages_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_contact_messages_created_at ON public.contact_messages USING btree (created_at);


--
-- Name: idx_contact_messages_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_contact_messages_status ON public.contact_messages USING btree (status);


--
-- Name: idx_job_applications_applied_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_applications_applied_at ON public.job_applications USING btree (applied_at);


--
-- Name: idx_job_applications_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_applications_email ON public.job_applications USING btree (email);


--
-- Name: idx_job_offers_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_offers_created ON public.job_offers USING btree (created_at DESC);


--
-- Name: idx_job_offers_deadline; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_offers_deadline ON public.job_offers USING btree (deadline);


--
-- Name: idx_job_offers_is_published; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_offers_is_published ON public.job_offers USING btree (is_published);


--
-- Name: idx_job_offers_main_image; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_offers_main_image ON public.job_offers USING btree (main_image_id);


--
-- Name: idx_job_offers_published; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_offers_published ON public.job_offers USING btree (is_published, deadline);


--
-- Name: idx_job_offers_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_offers_status ON public.job_offers USING btree (status);


--
-- Name: idx_metadata_entity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_metadata_entity ON public.images_metadata USING btree (entity_type, entity_id);


--
-- Name: idx_metadata_main; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_metadata_main ON public.images_metadata USING btree (is_main);


--
-- Name: idx_metadata_original; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_metadata_original ON public.images_metadata USING btree (original_id);


--
-- Name: idx_offers_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_offers_created_at ON public.job_offers USING btree (created_at DESC);


--
-- Name: idx_offers_published_deadline; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_offers_published_deadline ON public.job_offers USING btree (is_published, deadline) WHERE (is_published = true);


--
-- Name: idx_offers_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_offers_status ON public.job_offers USING btree (status);


--
-- Name: idx_page_backgrounds_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_page_backgrounds_is_active ON public.page_backgrounds USING btree (is_active);


--
-- Name: idx_page_backgrounds_page_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_page_backgrounds_page_key ON public.page_backgrounds USING btree (page_key);


--
-- Name: idx_projects_start_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_projects_start_date ON public.projects USING btree (start_date);


--
-- Name: idx_projects_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_projects_status ON public.projects USING btree (status);


--
-- Name: idx_sessions_refresh_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sessions_refresh_token ON public.user_sessions USING btree (refresh_token);


--
-- Name: idx_sessions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sessions_user_id ON public.user_sessions USING btree (user_id);


--
-- Name: idx_translations_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_translations_key ON public.translations USING btree (key);


--
-- Name: idx_uploaded_files_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_uploaded_files_created_at ON public.uploaded_files USING btree (created_at);


--
-- Name: idx_uploaded_files_format; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_uploaded_files_format ON public.uploaded_files USING btree (format);


--
-- Name: idx_uploaded_files_public_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_uploaded_files_public_id ON public.uploaded_files USING btree (public_id);


--
-- Name: idx_uploaded_files_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_uploaded_files_type ON public.uploaded_files USING btree (type);


--
-- Name: idx_uploaded_files_type_entity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_uploaded_files_type_entity ON public.uploaded_files USING btree (type, entity_id);


--
-- Name: idx_users_reset_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_reset_token ON public.users USING btree (reset_token);


--
-- Name: uploaded_files trigger_uploaded_files_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_uploaded_files_updated_at BEFORE UPDATE ON public.uploaded_files FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: job_applications fk_job_applications_job_offer; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT fk_job_applications_job_offer FOREIGN KEY (job_offer_id) REFERENCES public.job_offers(id) ON DELETE CASCADE;


--
-- Name: job_applications job_applications_job_offer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_job_offer_id_fkey FOREIGN KEY (job_offer_id) REFERENCES public.job_offers(id) ON DELETE CASCADE;


--
-- Name: page_backgrounds page_backgrounds_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.page_backgrounds
    ADD CONSTRAINT page_backgrounds_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: user_sessions user_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict K5ab9ZsHADFPBa3kS7HpTia2UaN6Ji2l3WlNoPYnLRhVw5dmcnc5jloXmiy6kJ7

